              AA{% extends "layout.html" %}

{% block pageTitle %}
Basic details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

{% set otherHTML %}

{{ govukInput({
  label: {
    text: "Which department?",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  classes: "govuk-input--width-20",
  id: "other",
  name: "depart",
  value: data['depart']
}) }}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <span class="govuk-caption-l">About the vacancy</span>
    <h1 class="govuk-heading-l">Enter the basic details</h1>
    <p>The job title should explain the seniority and role.


      <form class="form" action="/basic-details-altergo" method="post">




        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "What is the job title?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "title",
          name: "title",
            value: data["input-autocomplete"]
        }) }}


        {% from "govuk/components/select/macro.njk" import govukSelect %}
        {{ govukSelect({
          id: "reshow",
          name: "reshow",
          label: {
            text: ""
          },
          items: [
          {
            value: " (AA)",
            text: "Administrative Assistant",
            selected: checked("grade"," (AA)")
          },
          {
            value: " (AO)",
            text: "Administrative Officer",
            selected: checked("grade"," (AO)")
          },
          {
            value: " (EO)",
            text: "Executive Officer",
            selected: checked("grade"," (EO)")
          },
          {
            value: " (HEO)",
            text: "Higher Executive Officer",
            selected: checked("grade"," (HEO)")
          },
          {
            value: " (SEO)",
            text: "Senior Executive Officer",
            selected: checked("grade"," (SEO)")
          },
          {
            value: "Grade 7",
            text: "Grade 7",
            selected: checked("grade","Grade 7")
          },
          {
            value: "Grade 6",
            text: "Grade 6",
            selected: checked("grade","Grade 6")
          }
          ]
        }) }}


        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "cabinet-office-role",
          id: "co",
          fieldset: {
            legend: {
              text: "Is this role for Cabinet Office?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("cabinet-office-role", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("cabinet-office-role", "No"),
            conditional: {
              html: otherHTML
            }
          }
          ]
        }) }}




        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "How many posts are available?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          classes: "govuk-input--width-3",
          id: "num-posts",
          name: "num-posts",
          value: data['num-posts']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>
{% include 'includes/return-task-list.html' %}
      </form>

    </div>
  </div>

  {% endblock %}
