h      name: "contact",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "This information will be shown on the advert and the contact will need to be available to answer candidate queries."
      },
      items: [
        {
          value: "Jane Smith",
          text: "Me",
          checked: checked("contact", "Jane Smith")
        },
        {
          value: data["contact-name"],
          text: "Someone else",
          checked: checked("contact", "")
        }
      ]
    }) }}

<div id="conditional">
    {{ govukInput({
      label: {
        text: "What is the contact's name?",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      classes: "govuk-input--width-20",
      id: "contact-name",
      name: data['contact-name']
    }) }}

    {{ govukInput({
      label: {
        text: "What is the contact's email address?",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      classes: "govuk-input--width-20",
      id: "contact-email",
      name: "contact-email",
      value: data['contact-email']
    }) }}

    {{ govukInput({
      label: {
        text: "What is the contact's phone number? (optional)",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      classes: "govuk-input--width-20",
      id: "contact-num",
      name: "contact-num",
      value: data['contact-num']
    }) }}
</div>




<button class="govuk-button" data-module="govuk-button">Continue</button>
{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "preview-advert"
}) }}
<p><a href="../task-list-blank">Save and return to task-list</a></p>
      </form>
</div>
</div>
{% endblock %}
